[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
scikit-learn = "*"
scikit-learn-intelex = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
cufflinks = "*"
jupyter = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
